@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-color: #ffffff;
    --text-color: #333333;
  }

  [data-theme="dark"] {
    --background-color: #333333;
    --text-color: #ffffff;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

@layer components {
  .markdown {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-black;
    }
    a {
      @apply underline transition hover:decoration-primary;
    }
    > p,
    > ul,
    > ol {
      @apply my-4;
    }
    > :first-child {
      @apply mt-0;
    }
    > :last-child {
      @apply mb-0;
    }
  }

  .theme-toggle {
    @apply bg-text text-background border-none px-3 py-1 cursor-pointer transition-colors;
  }
}

@layer utilities {
  .antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}