@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  [data-theme="light"] {
    --background: 255 255 255;
    --text: 0 0 0;
    --primary: 255 174 156;
    --secondary: 255 242 215;
    --accent: 227 241 255;
  }

  [data-theme="dark"] {
    --background: 26 26 26;
    --text: 255 255 255;
    --primary: 255 174 156;
    --secondary: 255 242 215;
    --accent: 227 241 255;
  }

  body {
    @apply bg-[rgb(var(--background))] text-[rgb(var(--text))];
  }
}

@layer components {
  .markdown {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-black;
    }
    a {
      @apply underline transition hover:decoration-primary;
    }
    > p,
    > ul,
    > ol {
      @apply my-4;
    }
    > :first-child {
      @apply mt-0;
    }
    > :last-child {
      @apply mb-0;
    }
  }
}


@layer utilities {
  .bg-primary { @apply bg-[rgb(var(--primary))]; }
  .bg-secondary { @apply bg-[rgb(var(--secondary))]; }
  .bg-accent { @apply bg-[rgb(var(--accent))]; }
  .text-primary { @apply text-[rgb(var(--primary))]; }
  .text-secondary { @apply text-[rgb(var(--secondary))]; }
  .text-accent { @apply text-[rgb(var(--accent))]; }
}